/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.container {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
nav {
  font-family: "Comic Sans MS";
}
h6 {
  font-size: 1rem;
}
h5 {
  font-size: 1.1rem;
}
h4 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1.3rem;
}
h2 {
  font-size: 1.5rem;
}
h1 {
  font-size: 1.75rem;
}
button {
  font-family: "Comic Sans MS";
}
/* Mixins */
.text-class {
  font-family: "Comic Sans MS";
}
.box-styling {
  border-radius: 2.5rem;
}
/* Mixins */
/* Variables */
/* Variables */
header {
  width: 100%;
  height: 2rem;
  margin-top: 1rem;
  background-color: #c1ebff;
  border-radius: 2.5rem;
}
header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: inherit;
}
header nav a {
  text-decoration: none;
}
header nav a:hover {
  background-color: #10a59b;
  border-radius: 2.5rem;
}
.intro {
  margin: 2rem 0;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #10a59b;
  color: #effffc;
  border-radius: 2.5rem;
  height: 25rem;
}
.intro img {
  align-self: flex-end;
}
.intro img {
  width: 40%;
  height: auto;
}
.intro button {
  border-radius: 2.5rem;
}
.intro button:hover {
  background-color: #7e7f7f;
}
.skills {
  display: flex;
  justify-content: space-between;
  height: 15rem;
}
.skills .chunk {
  width: 48%;
}
.skills .chunk1 {
  display: flex;
  flex-direction: column;
}
.skills .chunk1 ul {
  height: 100%	;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.skills .chunk1 ul li {
  border-top: dotted #10a59b;
  border-bottom: dotted #10a59b;
  padding: 0.25rem 0;
}
.chunk2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.WH {
  margin: 2rem 0;
  height: 2.25rem;
  display: flex;
  align-items: center;
  background-color: #c1ebff;
}
.work-hist {
  width: 100%;
  height: 10rem;
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  background-color: #10a59b;
  padding: 1rem 1rem;
  color: #effffc;
  border-radius: 2.5rem;
}
.work-hist .col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.work-hist h5 {
  border-bottom: solid #effffc;
}
footer {
  padding: 1rem 0 2.5rem 0;
  text-align: center;
  background-color: #7f7f7f;
}
